<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <stepAssemblies>
    </stepAssemblies>
  </specFlow>
  <appSettings>
    <add key="automationTool" value="Selenium" />
    <add key="browser" value="Chrome" />
  </appSettings>
  <ipreo.tests.configuration>
    <environment homeUrl="https://FundEasy.com/" />
  </ipreo.tests.configuration>
  <runtime>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v6.0" />
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration>
    <dependencies>
      <add automationTool="Selenium" browser="Chrome" serviceType="OpenQA.Selenium.IWebDriver, WebDriver" implementationType="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver" />
    </dependencies>
  </Ipreo.AutomationFramework.UI.Configuration.DependencyConfiguration>
  <Ipreo.AutomationFramework.UI.Configuration.TimeoutSettings ElementTimeout="00:00:15" PageTimeout="00:00:30" />
  <Ipreo.AutomationFramework.UI.Configuration.RetrySetValueSettings EnableRetry="false" RetriesCount="2" />
</configuration>
